body{
    background-color: #ebf2fa;
    
}

.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns .mid-btns{
    display: flex;
    justify-content: center;
    width: 100%;
}
  
.btns button{
    margin: 10px;
    width: 150px;

    border-radius: 5px;
    
    font-size: 100%;
    font-weight: bold;
  }